.problems-container {
    padding: 20px;
  }
  
  .problems-table {
    margin-top: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .problems-caption {
    font-size: 1.2em;
    font-weight: bold;
    color: #495057;
  }

  
  .problem-row {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .problem-row:hover {
    background-color: #e9ecef;
  }
  
  .thead-dark {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  button {
    margin: 5px;
  }
